<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All books</h1>
    <h2>How to Access API</h2>
    <p>   1. Go to https://protected-headland-39978.herokuapp.com/api </p>
    <p>   2. select JSON </p>
    <p> you now have the JSON file with link, to use copy and paste web address </p>

    </address>
    {% for book in object_list %}
      <ul>
        <li>Item: {{ book.item }} </li>
        <li>price: {{ book.price }} </li>
        <li>Author: {{ book.description }} </li>
        <li>ISBN: {{ book.image }} </li>
        <li>ID: {{ book.product_ID }}</li>
      </ul>
    {% endfor %}
  </body>
</html>
